body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 1.1rem;
}

nav {
  display: flex;
  padding: 2rem 0;
  background: #111;
}

nav section {
  width: 100%;
}

nav a {
  font-weight: 700;
  padding: 1rem 1.5rem;
  border-radius: 4px;
}

nav a:first-of-type {
  margin-left: -1.5rem;
}

nav a:hover {
  background: #222;
}

a {
  color: #ea3546;
  text-decoration: none;
}

section {
  max-width: 1224px;  
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem;
}

section h1 {
  font-size: 3rem;
}

.table {
  width: auto;
}
.table td, .table th {
  padding: 0.25rem;
  vertical-align: top;
  border: none;
}
.table-striped {
 border: none;
 
}

.table-striped tbody tr:nth-of-type(odd) {
 background-color: white;  
 border: none;
}

.post h2 {
  font-size: 2.5rem;
}

.post-excerpt {
  padding: 1.5rem 0;
  border-bottom: 1px solid #eee;
}

.post-excerpt:first-of-type {
  padding-top: 0;
}

.post-excerpt h2 {
  margin-top: 0;
  font-size: 1.5rem;
}

.comment {
  background: #f0f0f0;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  margin: 1rem 0;
}

.card {
  border-radius: 14px;
  min-width: 190px;  
  background-image: url(/secretcode/card.jpg);
  width: 190px;
  height: 127px;
  background-size: cover;
  background-repeat: no-repeat; 
}

.card_word {
  padding-top: 74px;
  padding-left: 22px;
}

.red_spy {
  background-image: url(/secretcode/red_spy.jpg);
}

.blue_spy {
  background-image: url(/secretcode/blue_spy.png);
}

.skip_card {
  background-image: url(/secretcode/skip.png);
}

.killer_card {
  background-image: url(/secretcode/killer.jpg);
}

.btn {
  font-weight: 700;
  width: 150px;
  padding: 0;
}

.secret_card {
  border-radius: 8px;
  background: #f8f9fa;
  padding: 4px;
  width: 80%;
  margin-top: 88px;
  margin-left: 20px;
  text-align: center;
}

.button {
  display: inline-block;
  background: #ea3546;
  color: white;
  border-radius: 4px;
  font-weight: 700;
  padding: 0.75rem 1.5rem;
}

.close {
  position: relative;
  display: inline-block;
  
  overflow: hidden;
}

.close::before, .close::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #000;
}
.close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

